# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
.nyc_output

# Production
/dist
/build

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
package-lock.json

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# IDE - JetBrains
.idea/
*.iml
*.ipr
*.iws

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# Cache and Temp files
.DS_Store
.temp
.cache
.vite
*.pem
Thumbs.db

# Package Managers
yarn.lock
package-lock.json
pnpm-lock.yaml
bun.lockb

# Deployment
.vercel
!.vercel/
.netlify
.firebase
.next
out/
.vercel/**/*.js
.vercel/**/*.json
.vercel/**/*.lock

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
